
.displayAlbum {
  height: 260px;
  width: 260px;
  background-color: #242424;
  color: white;
  font-size: 14px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }

  &__cover {
    width: 60%;
    height: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}


