@import "../../variables";

.player__ {
    &root {
        background-color: #333333;
        display: inline-flex;
        height: 88px;
        width: 100%;
    }

    &song-display {
        display: inline-table;
        width: 300px;   
    }

    &audio {
        width: 100%;

        .rhap_container {
            width: 100%;
            width: calc(100vw - $navbar-width);
        }
    }
}
