@import "../../variables";

.album-close-up__ {
  &root {
    background-color: #666666;
    min-height: $content-height;
    overflow-y: auto;
    width: $content-width;
  }

  &content {
    margin-left: 60px;
    margin-top: 60px;
    margin-right: 60px;
  }

  &album-cover {
    height: 300px;
    width: 300px;
  }

  &album-title {
    font-size: 32px;
    margin-left: 30px;
  }

  &title-holder {
    display: inline-flex;
  }

  &track-holder {
    margin-top: 30px;
  }
}
